<!--Michael Toomey
11/08/2025
searchPlayer.ejs
 -->

<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta charset="UTF-8"><!--For special characters-->
	<meta name="viewport" content="width=device-width, initialscale=1"><!--Responsive Design-->
	<link rel="stylesheet" href="/stylesheets/style.css"><!--Links to style sheet-->
</head>
<body>
	<header>  
		<h1>
			<img src="/images/tennislogo.png"  style="width: 100px; height: 100px;" alt="Tennis Logo" >	
		</h1>
	</header>
	<div class="flex-container-1"><!--Flexbox holding links-->
		<div class="container-box-1">
			<a href="/">Home Page</a>
		</div>
		<div class="container-box-1">
			<a href="/enterPlayerDetails">Enter Player Details</a>
		</div>
		<div class="container-box-1">
			<a href="/searchPlayer">Search Player Record</a>
		</div>
	</div>
	

 
  <form action="/searchPlayer" method="POST">
    <br><label for="tokenId">Enter NFT Token IDPlayer Token ID:</label></br>
	 <input type="number" id ="tokenId" name="tokenId" required>
	<span id="tokenIdMessage" class="correction"></span><!-- informs user of errors -->
    <button type="submit">Search</button>
  </form>

  <script>
   const tokenPattern = /^[0-9]+$/;
   const input = document.getElementById("tokenId");
   const tokenIdMessage = document.getElementById("tokenIdMessage");
   input.addEventListener("input", () => { //check token Id pattern 
  if (!tokenPattern.test(input.value)) {
    tokenIdMessage.textContent = "Invalid token ID format";
  } else {
    tokenIdMessage.textContent = "";
  }
});
</script>

</body>
</html>

